aero_inspect/
venv/
.venv/
__pycache__/
*.pyc
.env

node_modules/
.next/

# OS / editor
.DS_Store
Thumbs.db
.vscode/

# Big / generated stuff
artifacts/weights/
data/vectorstore/
data/uploads/
logs/

# smoke tests
scripts/smoke_test_loaders.py
scripts/test_llm_pipeline.py
scripts/test_full_agent.py

#FRONTEND
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
.output
.vinxi
.tanstack/**
.nitro
*.local

# Wrangler / Cloudflare
.wrangler/
.dev.vars

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
